@font-face {
    font-family: 'Open Sans';
    src: url(OpenSans-Regular.ttf);
}

*{
    font-family: "Open Sans";
}

body {
    margin: 0;
    border: 0;
}

nav{
    display: flex;
    justify-content: center;
    background-color: #383e4c;
}

nav ul{
    display: flex;
    list-style: none;
}

nav .button{
    border: 2px solid #5a6372;
    text-decoration: none;
    color: white;
    justify-content: space-evenly;
}

.active{
    background-color: #49505f;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("images/img11.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

aside{
    position: fixed;
    
}

a img {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

